<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Activity Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p th:text="${expedisi}"></p>
        <table border="1">
            <tr th:each="nama:${tabel}">
                <td th:text="${nama[0]}"></td>
                <td th:text="${nama[1]}"></td>
                <td th:text="${nama[2]}"></td>
                <td th:text="${nama[3]}"></td>
            </tr>
        </table>
        <p th:text="${result}"></p>
    </body>
</html>
